.contentA .card-body{
    background-color: orange;
    color: rgb(42, 28, 230);
}

.card1 {
    position: absolute;
    left: 3%; 
    top: 525px;  
    height: 470px;
    width: 290px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #aaa;
}

.card2 {
    position: absolute;
    left: 52%;
    top: 525px; 
    height: 470px;
    width: 290px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #aaa;
}
.card3 {
    position: absolute;
    left: 3%;
    top: 1030px; 
    height: 470px;
    width: 290px;
    padding: 5px;
    background-color: #000bdb;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px #cb0202;
}

.card4 {
    position: absolute;
    left: 52%;
    top: 1030px; 
    height: 470px;
    width: 290px;
    padding: 5px;
    background-color: #000bdb;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px #cb0202;
}

.rectangular-block1 {
    position: relative;
    top: 1000px;
    width: 100% ;     
    height: 100px;   
    background-color: #152530; 
    border: 2px solid #d1dfe9;  
    margin: 0px; 
         
}